<main>
    <h1>puppysplit Home</h1>

    <form hx-post="/puppy/create" hx-trigger="submit" hx-target="body" swap="innerHTML">
        <p>Create new puppy:</p>
        <input type="text" name="title" placeholder="Title">
        <button type="submit">Create</button>
    </form>
</main>