@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  display: flex;
  justify-content: center;
  height: 100%;
}

body {
  width: 100%;
  max-width: 550px;
}

a {
  text-decoration: underline;
}

/* Special stylings */

#usersCheckboxList {
  display: none;
}
#notBetweenAll:checked ~ #usersCheckboxList {
  display: block;
}

/* Animate deletion */
.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}
